@model CSCBelgium.ViewModels.AddRimBrandViewModel

@{
    ViewBag.Title = "AddRimBrand";
    Layout = "~/Views/Shared/_LayoutConfiguratiepaneel.cshtml";
}
@using CSCBelgium.Views.Configuratiepaneel.CustomCode
<nav style="height:90px;">

    <div class="nav-wrapper">
        <a style="float:right;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>
<div class="main">
    <h4>Een velg merk toevoegen</h4>

    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                <div class="contactform">
                    @using (Html.BeginForm("AddRimBrand", "Configuratiepaneel", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <table id="tabel" class="table">
                                <thead>
                                    <tr>
                                        <th>velg merk naam</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                @for (int i = 0; i < Model.brands.Count(); i++)
                                {
                                    <tr id=@i>
                                        <td>@Model.brands.ElementAt(i).RimBrandName</td>
                                        <td>@Ajax.RawActionLink(string.Format("<i class='material-icons tooltipped' data-position='bottom' data-delay='1' data-tooltip='Merk verwijderen'>close</i>"), "VerwijderVelgMerk", null, new { id = Model.brands.ElementAt(i).RimBrandID }, new AjaxOptions { HttpMethod = "DELETE", Confirm = "Ben je zeker dat je dit velg merk wilt verwijderen?", OnComplete = string.Format("DeleteRijInTabel({0})", i) }, new { @class = "class" })</td>
                                    </tr>

                                }
                            </table>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 form">
                                @Html.LabelFor(m => m.newBrand.RimBrandName, new { @for = "txtNewBrandName" })
                                @Html.TextBoxFor(m => m.newBrand.RimBrandName, new { @class = "validate", id = "txtNewBrandName" })


                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 form">
                                <input type="submit" value="Aanmaken" class="btn btn-default" />


                            </div>
                        </div>



                    }
                </div>
            </section>
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
                function DeleteRijInTabel(id) {
                    console.log(id);
                    console.log("completed");
                    $("#" + id).remove();
                }

    </script>
}

