@model CSCBelgium.ViewModels.ManageSliderImagesViewModel

@{
    ViewBag.Title = "ManageSliderImages";
    Layout = "~/Views/Shared/_LayoutConfiguratiepaneel.cshtml";
    tblSlidesService service = new tblSlidesService();
}
@using CSCBelgium.Service;
@using CSCBelgium.Views.Configuratiepaneel.CustomCode;
<nav style="height:90px;">
    <div class="nav-wrapper">
        <a style="float:right;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left">
            <li style="line-height:0;"><a href="@Url.Action("addSliderImage", "Configuratiepaneel")"><i style="display:flex;align-items:center" class='material-icons tooltipped' data-position="bottom" data-delay="1" data-tooltip="Slide toevoegen">add_a_photo</i></a></li>


        </ul>

    </div>
</nav>
<div class="main">

    <div class="form-horizontal">

        <h4>Slider afbeeldingen</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <table id="tabel" class="table">
                <thead>
                    <tr>
                        <th>Slide onderschrift </th>
                        <th>Opstelling</th>
                        <th>Slide afbeelding</th>
                        <th>Volgorde</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.slides.Count(); i++)
                    {
                        <tr id=@i>
                            <td>@Model.slides.Select(a => a.CaptionText).ElementAt(i).ToString()</td>
                            <td>
                                <div class="input-field col s12 form">
                                    @if (service.getSlides().ElementAt(i).CaptionAlignment == Uitlijning.Links.ToString())
                                    {
                                        @Html.EnumDropDownListFor(model => model.LinksEerst, new { @id = "ddl" + i, @onchange = string.Format("UpdateAlignement({0})", i) })
                                    }
                                    else
                                    {
                                        if (service.getSlides().ElementAt(i).CaptionAlignment == Uitlijning.Midden.ToString())
                                        {
                                            @Html.EnumDropDownListFor(model => model.MiddenEerst, new { @id = "ddl" + i, @onchange = string.Format("UpdateAlignement({0})", i) })
                                        }
                                        else
                                        {
                                            @Html.EnumDropDownListFor(model => model.RechtsEerst, new { @id = "ddl" + i, @onchange = string.Format("UpdateAlignement({0})", i) })
                                        }

                                    }


                                </div>



                            </td>
                           @{String slide = "~/Content/FileSystem/Slides/Slide" + Model.slides.ElementAt(i).SlideID + "/slide.jpg"; }
                            <td><img alt="" class="postimage" src="@slide" width="250" height="80" /></td>
                            @{ 




                                }
                            <td width="150">@Html.TextBoxFor(m => m.slides.ElementAt(i).SlideOrder, new { @type="number",@id = "txt" + i, @onchange = string.Format("UpdateOrder({0})", i) })</td>
                            <td>
                                @*@Ajax.("Verwijder","VerwijderLijn", new { id = Model.Posts.ElementAt(i).PostID }, new AjaxOptions()
                                    {
                                        Confirm = "Ben je zeker dat je dit nieuwsbericht wilt verwijderen?",
                                        HttpMethod = "DELETE",
                                        OnComplete = string.Format("DeleteRijInTabel({0})", i)

                                    })*@
                                @Ajax.RawActionLink(string.Format("<i class='material-icons tooltipped' data-position='bottom' data-delay='1' data-tooltip='Slide verwijderen'>close</i>"), "VerwijderSlide", null, new { id = Model.slides.ElementAt(i).SlideID }, new AjaxOptions { HttpMethod = "DELETE", Confirm = "Ben je zeker dat je deze slide wilt verwijderen?", OnComplete = string.Format("DeleteRijInTabel({0})", i) }, new { @class = "class" })

                            </td>
                        </tr>



                    }

                </tbody>
            </table>






        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">
                function DeleteRijInTabel(id) {
                    console.log(id);
                    console.log("completed");
                    $("#" + id).remove();
                }
                function UpdateAlignement(i) {
                    var strSelected = "";
                    console.log($("#ddl" + i + "option:selected"));
                    $("#ddl" + i + " option:selected").each(function () {
                        console.log($(this)[0].value);
                        strSelected += $(this)[0].value + "b" + i;
                    });
                    $.ajax({
                        url: '@Url.Action("alignmentChanged", "Configuratiepaneel")',
                        contentType: "application/json; charset=utf-8",
                        data: "{'parameter': '" + strSelected + "'}",
                        type: 'POST',
                        cache: false,

                    });
                }
                function UpdateOrder(i) {
                    var strSelected = "";
                    console.log($("#txt" + i));
                    $("#txt" + i).each(function () {
                        console.log($(this)[0].value);
                        strSelected += $(this)[0].value + "b" + i;
                    });
                    $.ajax({
                        url: '@Url.Action("OrderChanged", "Configuratiepaneel")',
                        contentType: "application/json; charset=utf-8",
                        data: "{'parameter': '" + strSelected + "'}",
                        type: 'POST',
                        cache: false,

                    });
                }
            </script>
        }


    </div>
</div>